.header {
	color: var(--light-gray);
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: var(--gunmetal-blue);
}

.header h1 {
	font-size: 4rem;
	letter-spacing: 0.3rem;
	margin: 0;
	height: 4rem;
}

.header p {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 2rem;
	color: inherit;
}

.header nav {
	display: flex;
	height: 2.5rem;
	background-color: var(--light-gray);
}

.header nav button {
	margin: 0.2rem;
	padding: 0 1rem;
}

.header nav .wrapper {
	width: 65%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 950px) {
	.header nav .wrapper {
		width: 85%;
	}
}
