.teamSize {
	padding: 1rem;
}

.teamSize h3 {
	font-size: 2rem;
}

.teamSize .arrow {
	font-size: 4rem;
	border: none;
	background: none;
	padding: 0;
	outline: none;
	transition: all 0.1s ease-in-out;
	color: var(--gunmetal-blue);
}

.teamSize .arrow:hover {
	transform: scale(1.2);
}

.teamSize p {
	font-size: 2.5rem;
	font-weight: bold;
	padding-top: 0.5rem;
}
