/* app background */
.background {
	height: 100%;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	overflow-y: scroll;
	object-fit: contain;
	background-image: url(../assets/images/smallerBall.jpg);
}
