button {
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--gunmetal-blue);
	margin: 1rem;
	font-size: 1.2rem;
	padding: 0.5rem;
	background-color: var(--gunmetal-blue);
	color: var(--forest-green-traditional);
	transition: all 0.25s ease-in-out;
}

button:hover {
	background-color: var(--forest-green-traditional);
	color: var(--gunmetal-blue);
}

.button-disabled {
	opacity: 0.6;
	pointer-events: none;
}
