.card {
	background: var(--light-gray);
	width: 65%;
	color: var(--raisin-black);
	margin: 2rem auto;
	padding: 1rem 2rem;
	border-radius: var(--border-radius);
	opacity: 0.93;
	text-align: center;
}

@media screen and (max-width: 950px) {
	.card {
		width: 85%;
	}
}
