/* Colours */
:root {
	--white: #fff;
	--light-gray: #cfcfcfff;
	--raisin-black: #242331ff;
	--gunmetal-blue: #0f3343;
	--maximum-green: rgb(96, 143, 65);
	--forest-green-traditional: rgb(119, 209, 120);
	--fontSize: 1rem;
	--fontlarger: 1.2rem;
	--border-radius: 8px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

input[type="text"] {
	border: 2px solid var(--gunmetal-blue);
	padding: 0 1rem;
	width: 90%;
	font-size: 1.5rem;
}

label {
	padding-right: 1rem;
}

.flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.flexLi {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.flexList {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	padding: 0 1rem;
}

@media screen and (max-width: 450px) {
	.flexLi {
		display: block;
	}

	.flexList {
		flex-direction: column;
		width: 100%;
	}
}

.flexList p {
	position: relative;
	top: 0.5rem;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

ul,
ol {
	list-style: none;
}

i {
	padding: 0 0.5rem;
}

.center {
	margin: 0 auto;
}

.minorPadding {
	padding: 1rem 0;
}

.minorPaddingBottom {
	padding-bottom: 1rem;
}
