/* Colours */
:root {
	--white: #fff;
	--light-gray: #cfcfcfff;
	--raisin-black: #242331ff;
	--gunmetal-blue: #0f3343;
	--maximum-green: rgb(96, 143, 65);
	--forest-green-traditional: rgb(119, 209, 120);
	--fontSize: 1rem;
	--border-radius: 8px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
