/* imported fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

h1,
h2,
h3,
h4,
h5 {
	font-family: "Bebas Neue", cursive;
	letter-spacing: 0.3rem;
	margin: 0;
	padding: 0;
}

form,
li,
button,
label,
input,
p {
	font-family: "Roboto", sans-serif;
	font-size: var(--fontlarger);
	color: var(--raisin-black);
}

.capitalize {
	text-transform: capitalize;
}

h3 {
	font-size: 1.8rem;
}

.smallText {
	font-size: 1rem;
}

.vSmallText {
	font-size: 0.7rem;
}
