@import "./styling/root.css";
@import "./styling/typography.css";
@import "./styling//background.css";
@import "./styling/card.css";
@import "./styling/buttons.css";

/* components */
@import "./styling/components/numberOfPlayers.css";
@import "./styling/components/header.css";
@import "./styling/components/playerInput.css";
@import "./styling/components/playerList.css";
@import "./styling/components/teamsConfirmed.css";
@import "./styling/components/instructions.css";
